*.pyc
tx*
.*.swp
*.xml
*.temp
*.test
nohup.out
*.JSON
.*DS_Store
conflocal.py
SkyJSONConfig.py
state/EnglishMetric.txt
static/SkyCamera.py
dash_app/assets/skycamera.jpg
static/*.jpg
__pycache__
.idea
